.git
.gitignore
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.env.local
.env.*.local
*.so
*.egg
*.egg-info
dist
build
.eggs
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.tox
.nox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.idea
.vscode
*.swp
*.swo
*~
node_modules
db.sqlite3
staticfiles
